* {
    margin: 0;
    padding: 0;
    /* border: none; */
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#messagingAppContainer {
    height: 100vh;
}

#nameRow{
    text-align: center;
    height: 5%;
    background-color: lightgrey;
}

#messagingBody {
    background: url('https://www.freevector.com/uploads/vector/preview/19574/CartoonClouds_01_Preview.jpg');
    height: 80%;
    background-size: cover;
    overflow: scroll;
}

.user2{
    /* justify-content: flex-end;
    display: flex; */
    width: auto;
    text-align: right;
}

.user1{
    display: flex;
}

.messageBubble {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    text-align: left;
    max-width: 300px;
}

.user2 .messageBubble,
#sender2 {
    background-color: green;
}

.user1 .messageBubble,
#sender1{
    background-color: grey;
}

#writeMessageRow {
    background-color: lightgrey;
    height: 15%;
    display: flex;
}

#writeMessageRow input {
    height: 100%;
    width: 80%;
    border: 1px solid black;
}

#writeMessageRow button {
    height: 100%;
    width: 10%;
    border: 1px solid black;
    box-shadow: none;
}